div {
    color: white;
    padding: 20px;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#margarita {
    background-color: greenyellow;
    padding: 20px;
}



